<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>
<body>
    <h1>Comments Index</h1>
    <ul>
        <% for (let comment of comments) { %>
            <li><a href="/comments/<%= comment.id %>"><%= comment.comment %> - <%= comment.name %></a>
            <a href="/comments/<%= comment.id %>/edit" style="padding-left: .5rem;">edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>