<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head> 
<body>
    <h1>Edit product</h1>
    <form action="/products/<%= product.id %>?_method=PATCH", method="POST">
        <label for="productName">Name: </label>
        <input type="text" name="productName" id="productName" value="<%= product.name %>"><br>
        <label for="productPrice">Price: </label>
        <input type="number" name="productPrice" id="productPrice" value="<%= product.price %>"><br>
        <label for="productCategory">Category: </label>
        <select name="productCategory" id="productCategory">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select><br>
        <button>Submit</button>
    </form>
</body>
</html>